[Desktop Entry]
Name=DK64UnKONGtrolled
Type=Application
Terminal=false
Icon=DK64UnKONGtrolled
Exec=DK64UnKONGtrolled
GenericName=DK64UnKONGtrolled
Categories=Game;

